/* .multiaxis_line_chart {
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.year_selection {
  display: grid;
  grid-template-columns: 20% 30% 20% 30%;
}
.cell {
  margin-top: 2%;
  margin-bottom: 5%;
  font-weight: bold;
} */
